.title {
  font-size: 50px;
  margin-top: 40px;
}

.subtitle {
  font-size: 15px;
}

.services {
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}

.services .text {
  margin: 20px 0px;
  background-color: #fff;
}

.cards {
  position: relative;
  z-index: 1; /* Ensure the container has a lower z-index */
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardBody {
  background-color: white;
  color: #00B0FF;
  z-index: 10;
  transition: all 0.3s ease;
  font-size: 14px;
  border-radius: 20px;
  padding: 15px;
  padding-top: 25px;
  width: 280px;
  height: 250px;
  position: relative; 
}

.backCard {
  width: 280px;
  height: 250px;
  background-color: #00B0FF;
  padding: 7px 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 20px;
  transform: rotate(0deg);
  transition: transform 0.5s ease; /* Add transition for smooth effect */
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardText {
  padding: 25px;
  padding-left: 30px;
}

.cards:hover .backCard {
  transform: rotate(4deg); /* Tilt back on hover */
}

.cards:hover .cardBody {
  z-index: 10; /* Ensure the card-body maintains a higher z-index */
  transform: scale(1.02);
}

/* Slick carousel styles */
.slick-prev:before, .slick-next:before {
  color: #00B0FF;
}

.slick-dots li button:before {
  color: #00B0FF;
}

.slick-slide {
  display: flex;
  justify-content: center;
  padding: 10px;
}