.registerWrapper {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2; 
    padding: 20px;
    border-radius: 10px;
} 

.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registerformcontainer {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 400px; 
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgb(208, 201, 201);
    /* border: 0.1px solid black; */
    
} 

h2 {
    margin-bottom: 15px; 
    font-weight: 500;
    font-size: 18px; 
}

.registerformgroup {
    position: relative;
    padding: 5px; 
}

.registerInput {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 8px; 

}

.registerLebel {
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px; 
    color: #000;
}


.registererrors{
    color: red;
   font-size: small;
    margin-top: -10px;
    margin-bottom: 20px;
}

.registerButton:hover {
    background: darkgreen;
}

.regP {
    margin-top: 15px; 
    font-size: 12px; 
}

.regA {
    color: blue;
    text-decoration: none;
}

.regA:hover {
    text-decoration: underline;
}


.registerButton {
    z-index: 3; 
    pointer-events: auto;
    opacity: 1;
    background-color: #1b991b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}



