.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    background-color: whitesmoke;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.product-card:hover {
    transform: scale(1.05);
   
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.product-details h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.product-details p {
    color: black;
   
    font-size: 0.9em;
}

.price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.add-to-cart {
    background-color: #00B0FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width:60%;
}

.add-to-cart:hover {
    background-color: #00a85a;
}

.product-heading {
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color:#fff;
    background-color: rgb(19, 7, 51);
    margin-top: 20px;
}