@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.navbar-brand img {
  cursor: pointer;
  transition: transform .2s;
}

.navbar-brand img:hover {
  transform: scale(1.03);
}

.navbar-nav .nav-link {
  position: relative;
  overflow: visible;
  padding: .25em .4em;
  font-size: 14px;
  margin: 2px 8px;
  text-transform: uppercase;
  color: black;
}

.navbar-nav .nav-link:before, .navbar-nav .nav-link:after {
  transition: transform .3s;
  background: #00B0FF;
  content: "";
  position: absolute;
}

.navbar-nav .nav-link:after {
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
}

.navbar-nav .nav-link:hover:before {
  transform: scale(1);
}

.navbar-nav .nav-link:hover:after {
  transform: scaleX(1);
}

.btn-outline-primary {
  border-color: #00B0FF;
  color: #00B0FF;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #00B0FF;
  color: white;
}
/* 
.back-div {
  width: 124px;
  background-color: #00B0FF;
  height: 34px;
  padding: 7px 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 5px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
} */

.get-started:hover + .back-div {
  transform: rotate(-5deg);
}

@media (max-width: 768px) {
  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .nav-link {
    text-align: left;
    padding: 15px;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .d-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-outline-primary {
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  .navbar-nav .nav-item {
    display: inline-block;
  }

  .navbar-nav .nav-link {
    padding: 15px 25px;
    text-align: center;
  }
}

.start-container{
  position: relative;
  max-width: fit-content;
}