

.services{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  
}
 .services .text {
  margin: 20px 0px;
  background-color: #fff;
}

.cards {
  position: relative;
  z-index: 1; /* Ensure the container has a lower z-index */
}

.card-body {
  background-color: white;
  color: #00B0FF;
  z-index: 10;
  transition: all 0.3s ease;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px;
  width: 280px;
  height: 300px;
  position: relative; /* Ensure it remains positioned */
}

.back-card {
  width: 280px;
  height: 300px;
  background-color: #00B0FF;
  padding: 7px 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 20px;
  transform: rotate(0deg);
  transition: transform 0.5s ease; /* Add transition for smooth effect */
}

.card-img-top {
  width: 60px;
  height: 60px;
  margin-top: 25px;
  border-radius: 20px;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-text {
  padding: 25px;
  padding-left: 30px;
}

.cards:hover .back-card {
  transform: rotate(4deg); /* Tilt back on hover */
}

.cards:hover .card-body {
  z-index: 10; /* Ensure the card-body maintains a higher z-index */
}